* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.clearfix::after {
 content: "";
 display: block;
 clear: both;
}
header {
background-color: #ff9A4B;
height: 50px;
width : 100%;
}

main {
 width: 960px;
 margin: 50px auto;
}

.main-box {
 width: 300px;
 padding: 10px;
 margin-right: 30px;
 float: left;
 position: relative;
 background-color: #eee;
}
.main-box:last-child {
 margin-right : 0;
}

.img1 {
 height: 150px;
 background-image: url(img/flow01.png);
 background-size: cover;
 background-position: bottom;
}
.step {
 background-color: #FF9A4B;
 color: #FFFFFF;
 position: absolute;
 top: 0;
 left: 0;
 padding: 3px;
}
.title{
margin: 15px 0 5px;
}
.img2 {
height: 150px;
background-image: url(img/flow02.png);
background-size: cover;
background-position: bottom;
}
.img3 {
height: 150px;
background-image: url(img/flow03.png);
background-size: cover;
background-position: bottom;
}
footer {
 height: 50px;
 width: 100%;
 background-color: #AAAAAA;
}
@media screen and (max-width: 768px) {

 header {
 width:100%;
 height: 50px;
 }
 main {
 width: 100%;
 padding: 50px auto;
 }
 .main-box {
 float: none;
 width: 90%;
 margin: 0 auto 20px;
 }
.main-box:last-child {
 margin-right: 40px;
}
.img3 {
background-position: center;
}

}
















